<?xml version="1.0"?>
<launch>
	<arg name="gui" default="TRUE" />
	<arg name="rvizconfig" default="$(find mico_description)/rviz/mico_urdf.rviz" />
	
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find mico_description)/urdf/mico_standalone.xacro'" />
	<param name="use_gui" value="$(arg gui)"/>
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>

