<?xml version="1.0"?>
<robot name="summit_mico" 
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Import Summit XL root -->
    <xacro:include filename="$(find summit_description)/robots/summit_xl_hl_root.urdf.xacro" />
    <!--  -->
    <xacro:include filename="$(find mico_description)/urdf/mico2fingers.xacro" />

    <xacro:macro name="summit_mico" params="prefix *origin platform_mode:='omni' arm_interface:='velocity' color:='None' camera:=true gazebo_ros_control:=true platform_interface:='velocity'">

        <xacro:if value="${platform_mode in ['omni', 'force_omni', 'force', 'Omni']}">
            <xacro:property name="kin_mode" value="force_omni"/>
        </xacro:if>
        <xacro:unless value="${platform_mode in ['omni', 'force_omni', 'force', 'Omni']}">
            <xacro:property name="kin_mode" value="force_diff"/>
        </xacro:unless>

        <xacro:summit_xl_robot prefix="${prefix}" kinematic_model="${kin_mode}" kinect="${camera}" mini_pc="true" enable_ros_control="false" publish_tf="false" virtual_platform_joints="true" interface="${platform_interface}">
            <xacro:insert_block name="origin" />
        </xacro:summit_xl_robot>

        <!-- <link name="world">
            <inertial>
                <mass value="1"/>
                <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
            </inertial>
        </link> -->

        <link name="${prefix}root">
            <inertial>
                <mass value="1"/>
                <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
            </inertial>
        </link>
        <joint name="${prefix}connect_root_and_summit" type="fixed">
            <child link="${prefix}root" />
            <parent link="${prefix}base_link" />
            <origin xyz="0.19 0 0.17" rpy="0 ${0.0*PI/180} 0" />
        </joint>
        <property name="robot_root" value="${prefix}root" />

        <xacro:mico2fingers base_parent="${prefix}root" prefix="${prefix}mico" interface="${arm_interface}" robot_control_ns='' color="${color}" J2_offset="2.355" J3_offset="2.355" J4_offset="0.0" J6_offset="1.57" gazebo_ros_control="${gazebo_ros_control}"/>

    </xacro:macro>


    <!-- Inertial of Cylinder -->
    <xacro:macro name="inertia_cylinder" params="mass height radius axis:=0">
        <xacro:property name="Ir" value="${0.0833*mass*(3.0*radius*radius + height*height)}" />
        <xacro:property name="Ih" value="${0.5*mass*(radius*radius)}" />
        <!-- z Axis -->
        <xacro:unless value="${axis}">
            <inertia ixx="${Ir}" ixy="0" ixz="0" iyy="${Ir}" iyz="0" izz="${Ih}" />
        </xacro:unless>
        <!-- y Axis -->
        <xacro:unless value="${axis-1}">
            <inertia ixx="${Ir}" ixy="0" ixz="0" iyy="${Ih}" izz="${Ir}" iyz="0" />
        </xacro:unless>
        <!-- x Axis -->
        <xacro:unless value="${axis-2}">
            <inertia ixx="${Ih}" iyy="${Ir}" iyz="0" izz="${Ir}" ixy="0" ixz="0" />
        </xacro:unless>
    </xacro:macro>


    <!-- Inertial of Box -->
    <xacro:macro name="inertia_box" params="mass height:=0.05 width:=0.0 depth:=0.0">
        <xacro:if value="${width == 0.0}">
            <xacro:property name="width" value="${height}"/>
        </xacro:if>
        <xacro:if value="${depth == 0.0}">
            <xacro:property name="depth" value="${height}"/>
        </xacro:if>
        <xacro:property name="Iw" value="${(1.0/12.0)*mass*(height*height + depth*depth)}" />
        <xacro:property name="Ih" value="${(1.0/12.0)*mass*(width*width + depth*depth)}" />
        <xacro:property name="Id" value="${(1.0/12.0)*mass*(width*width + height*height)}" />

        <inertia ixx="${Iw}" ixy="0" ixz="0" iyy="${Ih}" iyz="0" izz="${Id}" />
    </xacro:macro>




</robot>
