<?xml version="1.0"?>
<robot name="summit_xl" 
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="mode" default="omni"/>
    <xacro:arg name="camera" default="false"/>
    <xacro:arg name="prefix" default=""/>

    <!-- Import summit XL root -->
    <xacro:include filename="$(find summit_description)/robots/summit_xl_hl_root.urdf.xacro" />
    
    <xacro:summit_xl_robot prefix="$(arg prefix)" kinematic_model="$(arg mode)" kinect="$(arg camera)" mini_pc="true">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:summit_xl_robot>

</robot>

