<?xml version="1.0"?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="use_trajectory_controller" default="true"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find summit_mico_gazebo)/worlds/summit_mico_empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <include file="$(find summit_mico_gazebo)/launch/summit_mico_spawn.launch">
    <arg name="platform_mode" value="omni"/> <!-- omni, diff -->
    <arg name="arm_interface" value="velocity"/> <!-- velocity, effort -->
    <arg name="camera" value="true"/>
    <arg name="color" value="None"/>
    <arg name="robot_id" value="mm1"/>
    <arg name="x" value="1.0"/>
    <arg name="y" value="1.0"/>
    <arg name="z" value="0.0"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="0.0"/>
  </include>

  <include file="$(find summit_mico_gazebo)/launch/summit_mico_spawn.launch">
    <arg name="platform_mode" value="diff"/> 
    <arg name="arm_interface" value="velocity"/>
    <arg name="camera" value="false"/>
    <arg name="color" value="default"/>
    <arg name="robot_id" value="mm2"/>
    <arg name="x" value="1.0"/>
    <arg name="y" value="-1.1"/>
    <arg name="z" value="0.0"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="-1.57"/>
  </include> 

  <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_mm1_odom" args="0.0 1.1 0.0 -1.57 0.0 0.0  world mm1_odom 1000" />
  <node pkg="tf" type="static_transform_publisher" name="world_to_mm2_odom" args="0.0 -1.1 0.0 1.57 0.0 0.0  world mm2_odom 1000" />
 -->



</launch>

